<!DOCTYPE html>
<html>
<head>
<title><h1> Hoja de Vida Erika Patricia Rios Arciniegas</h1></title>
</head>
<body bgcolor="#04B486">
<p><b><h1><font> HOJA DE VIDA</font>  </H1></b></P>
<P><b><H2>DATOS PRESONALES</H2></b></P>
<TR>
<TABLE border="1" width="60%" height="160" >
<TR><TD><B> Documento: </B></TD> <TD > 1012356808</TD> 
<TD rowspan="0"> <img src="/assets/Foto.jpg" width="150" height="150" align="center"></TD> </TR>
<TR><TD><B>Apellido:  </B></TD> <TD>Rios Arciniegas</TD>    
<TR><TD><B>Nombres:  </B></TD> <TD>Erika Patricia</TD>  
<TR><TD><B>Nacionalidad:  </B></TD> <TD>Colombiana</TD>  
<TR><TD><B>Lugar de Nacimiento:  </B></TD><TD>Bogota</TD>  
<TR><TD><B>Fecha de Nacimiento:  </B></TD>
<TD> 06 de Marzo de 1989 </TD>  
<TR><TD><B>Edad:  </B></TD>
<TD>29 </TD>  
<TR><TD><B>Estado Civil:  </B></TD>
 <TD>Soltera
<TR><TD><B>Direccion:  </B></TD>
<TD>Cll 68 g 49 - 66</TD> 
<TR><TD><B>Email:  </B></TD>
<TD>eprios369@gmail.com</TD>  
<TR><TD><B>Telefono:  </B></TD>
<TD>4568765</TD>  
<TR><TD><B>Celular:  </B></TD>
  <TD>3154641407</TD>  
</TABLE>

<P><b><H2>ESTUDIOS REALIZADOS</H2></b></P>

<TABLE border="1" width="60%" height="45" >
<TR><TD><B> Basica Secundiaria </B></TD> <TD > Colegio Maria Mercedez Carranza</TD> 
<TR><TD><B>Universidad </B></TD> <TD>Escuela de Administracion y Negocios EAN Ingenieria de Sistemas </TD>    
<TR><TD><B>Certificacion </B></TD> <TD>Centro Colombo Americano</TD>  
<TR><TD><B>CEDIT </B></TD> <TD>Certificacion ITIL</TD>  
</TABLE>

<P><b><H2><b>REFERENCIAS PERSONALES</H2></b></P>

<TABLE border="1" width="60%" height="45" >
<TR><TD><B> Ocupacion</B></TD> <TD >Nombre Referencia</TD><TD > Telefono</TD> 
<TR><TD>Ingeniero de Sistemas</TD> <TD> Carlos Fernando Barrera </TD><TD > 3156778900</TD>   
<TR><TD>Ingeniero Electronico</B></TD><TD>John Rios </TD><TD > 3125667890</TD>   
<TR><TD>Ingeniero de Sistemas</B></TD> <TD>Manuel Gutierrez</TD><TD > 304556678</TD>  
</TABLE>


</TABLE>
</body>
</html>
